<hr/>

<div>
  <h1>"<%= @track.song_title %>"</h1>
  <span>Artist: <%= @track.author %></span>
  <span><%= @track.url  %></span>
  <p><small>Posted by: <%= @track.user.name %> at: <%= @track.created_at %></small></p>

  <form method="POST" action="/vote">      
    <span> CURRENT SCORE: ____ </span>
    <input class="btn btn-success" type="submit" value="Upvote">
    <input class="btn btn-danger" type="submit" value="Downvote">
  </form>

</div>

<hr/>

<div>
  <h4>Other TRACKS submitted by this User:</h4>

  <% @other_tracks_by_user.each do |track| %>
    <p><small>
      <strong><a href="/tracks/<%= track.id %>"><%= track.song_title %></a></strong>   
      <a href="http://<%= track.url %>"><%= track.url %></a>
      Posted by: <%= track.user.name %> at: <%= track.created_at %>
    </small></p>
  <% end %>

</div>




